ATLAS_WORLD_DIR=world
ATLAS_ENV=local
ATLAS_LOOTI_API_BASE_URL=https://looti.club
ATLAS_LOOTI_API_KEY=
ATLAS_TREASURY_WALLET_ADDRESS=
ATLAS_TREASURY_PRIVATE_KEY=
ATLAS_BASE_RPC_URL=https://mainnet.base.org
ATLAS_DRY_RUN_CALL_LOOTI=false
ATLAS_LIVE_FUNDING_ENABLED=false
ATLAS_LIVE_ACTIVATION_ENABLED=false
ATLAS_ALLOW_REUSE_DEPLOYED_SPLIT=false
ATLAS_ALLOW_ADDITIONAL_FUNDING=false
ATLAS_RUN_ID=
ATLAS_IDEMPOTENCY_KEY=
ATLAS_PROMPT_CAST_HASH=
ATLAS_PROMPT_CAST_URL=
ATLAS_CREATOR_FID=
ATLAS_CREATOR_ADDRESS=
ATLAS_CHAIN_ID=8453
ATLAS_CAMPAIGN_BUDGET_AMOUNT=50
ATLAS_CAMPAIGN_MAX_SPEND_AMOUNT=50
ATLAS_CAMPAIGN_TOKEN=USDC
ATLAS_CAMPAIGN_TOKEN_ADDRESS=
ATLAS_CAMPAIGN_TOKEN_DECIMALS=6
ATLAS_CAMPAIGN_EXPIRES_AT=
ATLAS_TIMEZONE=America/New_York
ATLAS_CAMPAIGN_ID=
ATLAS_REWARD_SET_LIMIT=10
ATLAS_RECORD_ALLOCATIONS=false
ATLAS_FARCASTER_PUBLISH_ENABLED=false
NEYNAR_API_KEY=
SIGNER_UUID=
